node_modules
.env
coverage
coverage.json
typechain
typechain-types
front_end
front_end_test
README_2.md

# Hardhat files
block_end/cache
block_end/artifacts
block_end/node_modules
block_end/.gitignore
block_end/.env

